# ==================================
# Maven
# ==================================
# Ignora a pasta 'target' local. O Dockerfile irá criar sua própria.
target/

# ==================================
# Git
# ==================================
# Ignora todo o histórico do Git (essencial para velocidade)
.git/
.gitignore

# ==================================
# IntelliJ IDEA
# ==================================
# Arquivos da IDE não são necessários no build
.idea/
*.iml
out/

# ==================================
# Docker
# ==================================
# Ignora os próprios arquivos do Docker
Dockerfile
docker-compose.yml
.dockerignore

# ==================================
# Outros
# ==================================
# Logs locais
*.log
# Segredos locais
.env
*.env
application-local.properties
# O script do banco (não faz parte da API)
db_localibrary.sql
# Documentação
README.md